.cs-container {

  height: 40px;

  .cs-placeholder {
    min-width: 400px;
    max-width: 100%;
    border: 1px solid #ddd;
    height: 100%;
  }

  .cs-options {

    background-color: black;
    font-family: sans-serif;

    .cs-options-list {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;

      .cs-option {
        color: #fff;
        padding: 1rem;
        cursor: pointer;

        &:hover, &.active {
          background-color: rgba(#fff, .1);
        }

      }

    }

  }

  .cs-backdrop {
    background-color: rgba(#000, .3);
  }

  &.cs-disabled .cs-placeholder {
    opacity: .5;
  }

}
